.books-page ::deep .mud-table .mud-table-toolbar {
    height: inherit !important;
    padding-inline-start: 1rem !important;
    padding-inline-end: 1rem !important;
}

/* Hide defaul table sorting on small devices */
.books-page ::deep .mud-table .mud-table-smalldevices-sortselect {
    display: none !important;
}
