.books-page ::deep .mud-table .mud-table-toolbar {
    height: inherit !important;
    padding-inline-start: 1rem !important;
    padding-inline-end: 1rem !important;
}

/* Hide defaul table sorting component on small devices */
.books-page ::deep .mud-table .mud-table-smalldevices-sortselect {
    display: none !important;
}

/* Apply custom styles to the sort direction button */
::deep .sort-direction-button {
    border-color: var(--mud-palette-lines-inputs) !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
}
