[*.{cs,vb}]

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# BL0005: Component parameter should not be set outside of its component
dotnet_diagnostic.BL0005.severity = none

# BL0007: Component parameters should be auto properties
dotnet_diagnostic.BL0007.severity = none