@namespace MudBlazor
@typeparam T

<div class="mud-table-sort-selector">
    <CascadingValue TValue="MudTableSortSelector<T>" Value="this" IsFixed="true">
    <MudSelect 
        T="MudTableSortSelectorItemValue<T>"
        @bind-Value="Value"
        @ref="_select">
            @_childContent
    </MudSelect>

    @if (!HideSortButton)
    {
        <MudIconButton 
            Icon="@Icons.Material.Filled.Sort"
            Variant="Variant.Outlined"
            Class="@(SortDirection == MudBlazor.SortDirection.Ascending ? "" : "invert")" 
            OnClick="ToggleSortDirectionAsync">
        </MudIconButton>
    }
</CascadingValue>
</div>
