@namespace MudBlazor
@typeparam T

<div class="d-flex align-center">
    <CascadingValue TValue="MudTableSortSelector<T>" Value="this" IsFixed="true">
        <MudSelect 
            T="MudTableSortSelectorItemValue<T>"
            Placeholder="@Placeholder"
            Variant="Variant"
            Margin="Margin"
            Clearable="true"
            FullWidth="true"
            @bind-Value="Value"
            @ref="_select">
                @_childContent
        </MudSelect>

        @if (!HideSortButton)
        {
            <MudIconButton 
                Icon="@Icons.Material.Filled.Sort"
                Variant="Variant"
                Size="ButtonSize"
                Class="ml-2"
                Style="@(SortDirection == MudBlazor.SortDirection.Ascending ? string.Empty : "transform: scaleY(-1);")"
                OnClick="ToggleSortDirectionAsync">
            </MudIconButton>
        }
    </CascadingValue>
</div>
